.b-block-color_text--2 {
  color: #5cb85c; }

.b-block-color_text--3 {
  color: #5bc0de; }

.b-block-color_text--4 {
  color: #f0ad4e; }

.b-block-color_text--5 {
  color: #d9534f; }

.b-block_button {
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  padding: 5px 10px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: #fff; }
  .b-block_button:hover {
    text-decoration: none;
    background-color: #3071a9;
    border-color: #285e8e; }

.b-block_button--first {
  background-color: #428bca;
  border-color: #357ebd; }

.b-block_button--second {
  background-color: #5cb85c;
  border-color: #4cae4c; }

.b-block_button--third {
  background-color: #f0ad4e;
  border-color: #eea236; }

body {
  color: #555;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  width: 960px; }

a {
  color: #428BCA;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.b-block {
  color: #555;
  font-size: 16px;
  line-height: 20px;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
  padding-bottom: 20px; }
  .b-block-label {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: #f00;
    color: #fff;
    padding: 1px 4px; }
  .b-block-img {
    margin-bottom: 10px; }
  .b-block-label--corner {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    background-color: #5bc0de;
    display: block;
    height: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 20px; }
  .b-block a.bold_link {
    font-weight: bold; }
  .b-block--first, .b-block--second, .b-block--third {
    border-bottom: 0;
    float: left;
    margin-right: 15px;
    padding: 0;
    position: relative;
    width: 300px; }
  .b-block--second {
    margin-left: 15px; }
  .b-block--third {
    margin-left: 15px;
    margin-right: 0; }
  .b-block .b-block_button_wrapper {
    text-align: right; }

.b-block-wrapper {
  border-bottom: 1px solid #000;
  margin-bottom: 20px; }
  .b-block-wrapper:after {
    content: " ";
    display: block;
    clear: both; }

.b-block-color_text {
  color: #428bca; }

.b-block-color_text_wrapper .b-block-color_text--2 {
  color: #5cb85c; }
.b-block-color_text_wrapper .b-block-color_text--3 {
  color: #5bc0de; }
.b-block-color_text_wrapper .b-block-color_text--4 {
  color: #f0ad4e; }
.b-block-color_text_wrapper .b-block-color_text--5 {
  color: #d9534f; }

ul.first-list li:nth-child(1) {
  font-size: 16px;
  line-height: 1.2em; }

ul.first-list li:nth-child(2) {
  font-size: 21px;
  line-height: 1.2em; }

ul.first-list li:nth-child(3) {
  font-size: 26px;
  line-height: 1.2em; }

ul.first-list li:nth-child(4) {
  font-size: 31px;
  line-height: 1.2em; }

ul.first-list li:nth-child(5) {
  font-size: 36px;
  line-height: 1.2em; }

ul.first-list li:nth-child(6) {
  font-size: 41px;
  line-height: 1.2em; }

ul.second-list li:nth-child(1) {
  font-size: 16px;
  line-height: 1.2em; }

ul.second-list li:nth-child(2) {
  font-size: 21px;
  line-height: 1.2em; }

ul.second-list li:nth-child(3) {
  font-size: 26px;
  line-height: 1.2em; }

ul.second-list li:nth-child(4) {
  font-size: 31px;
  line-height: 1.2em; }

ul.second-list li:nth-child(5) {
  font-size: 36px;
  line-height: 1.2em; }

ul.second-list li:nth-child(6) {
  font-size: 41px;
  line-height: 1.2em; }

/*# sourceMappingURL=style.css.map */
