.b-block_button {
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	padding: 5px 10px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #fff;

	&:hover {
	  text-decoration: none;
	  background-color: #3071a9;
	  border-color: #285e8e;
	}

}

@each $count, $bg-color, $border-color in (first, #428bca, #357ebd),
                                  			(second, #5cb85c, #4cae4c),
                                  			(third, #f0ad4e, #eea236) {
	.b-block_button--#{$count} {
		background-color: $bg-color;
		border-color: $border-color;
	}
}