@mixin text-styles {
  color: #555;
  font-size: 16px;
  line-height: 20px;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin no-border-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

@mixin clearfix {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}