@import './variables';
@import './mixins';
@import './color_text';
@import './buttons';

body {  
  @include text-styles;
  margin: 0 auto;
  width: 960px;
}

a {
  color: #428BCA;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

.#{$block-name} {
  @include text-styles;
  
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
  padding-bottom: 20px;

  &-label {
    @include border-radius(4px);
    background-color: #f00;
    color: #fff;
    padding: 1px 4px;
  }

  &-img {
    margin-bottom: 10px;
  }

  &-label--corner {
    @include no-border-radius;
    background-color: #5bc0de;
    display: block;
    height: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 20px;
  }

  a%bold_link {
    font-weight: bold;
  }

  &--first {
    border-bottom: 0;
    float: left;
    margin-right: 15px;
    padding: 0;
    position: relative;
    width: 300px;
  }
  
  &--second {
    @extend .#{$block-name}--first;

    margin-left: 15px;
  }

  &--third {
    @extend .#{$block-name}--first;

    margin-left: 15px;
    margin-right: 0;
  }

  .b-block_button_wrapper {
    text-align: right;
  }

}

.b-block-wrapper {
  @include clearfix;

  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}

.bold_link {
  @extend %bold_link;
}

.b-block-color_text {

  @if $color_theme == first {
    color: #428bca;
  } @else if $color_theme == second {
    color: #000 !important;
  }

}

.b-block-color_text_wrapper {

  @import "color_text";
    
}

@for $i from 1 through 6 {

  ul.first-list li:nth-child(#{$i}) {
    font-size: 11px + 5*$i;
    line-height: 1.2em;
  }

}

$i: 1;
@while $i < 7 {
  ul.second-list li:nth-child(#{$i}) {
    font-size: 11px + 5*$i;
    line-height: 1.2em;
  }
  $i: $i + 1;
}